.venv/
__pycache__/
*.pyc
data/
bin/
SQL/
oldCode/

.DS_Store
.idea/
.vscode/
.env

*.log
*.db
*.wav
*.mp3
*.flac
*.m4a
*.aac
*.ogg
*.wma
*.aiff
*.alac

*.ds_store
Thumbs.db
*.sqlite
*.bak
*.tmp
*.swp   
*.swo
library_manager.db-shm
library_manager.db-wal
