.venv/
__pycache__/
*.pyc
./data/
bin/

*.wav
.DS_Store
.idea/
.vscode/
*.log
*.db
.env

*wav
*.mp3
*.flac
*.m4a
*.aac
*.ogg
*.wma
*.aiff
*.alac

*.ds_store
Thumbs.db
*.sqlite
*.bak
*.tmp
*.swp   
*.swo
